torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
git+https://github.com/facebookresearch/detectron2.git@v0.6#egg=detectron2
transformers==4.55.2
addict==2.4.0
yapf==0.40.2
timm==1.0.8
numpy==1.26.3
opencv-python==4.10.0.84
supervision==0.3.2
pillow==9.5.0
scipy==1.13.1